#Composant_Fentre_de_travail {
    position: absolute;
    width: 1427px;
    height: 861px;
    left: 473px;
    top: 20px;
    overflow: visible;
}
#Fentre_de_travail {
    fill: rgba(90,0,122,1);
}
.Fentre_de_travail {
    position: absolute;
    overflow: visible;
    width: 1427px;
    height: 861px;
    left: 0px;
    top: 0px;
}
#Composant_Volet_de_gauche {
    position: absolute;
    width: 434px;
    height: 1019px;
    left: 20px;
    top: 20px;
    overflow: visible;
}
#Entte {
    fill: rgba(90,0,122,1);
}
#Groupe_Solde_FF {
    position: absolute;
    width: 173px;
    height: 83px;
    left: 44px;
    top: 174px;
    overflow: visible;
}
#Porte-feuille {
    left: 5px;
    top: 32px;
    position: absolute;
    overflow: visible;
    width: 165px;
    height: 40px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(105,0,153,1);
}
#Porte-feuille_b {
    fill: rgba(0,0,0,1);
    stroke: rgba(255,104,15,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Porte-feuille_b {
    overflow: visible;
    position: absolute;
    width: 173px;
    height: 70px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#n_5_FF {
    left: 22px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 130px;
    height: 70px;
    text-align: center;
    font-family: Krub;
    font-style: normal;
    font-weight: lighter;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Photo_de_profil {
    position: absolute;
    width: 167px;
    height: 200px;
    left: 250px;
    top: 26px;
    overflow: visible;
}
#Groupe_Logo {
    position: absolute;
    width: 171.252px;
    height: 158.64px;
    left: 43.874px;
    top: 6px;
    overflow: visible;
}
#Groupe_Menu {
    position: absolute;
    width: 434px;
    height: 748px;
    left: 0px;
    top: 271px;
    overflow: visible;
}
#Groupe_Menu_de_navigation {
    position: absolute;
    width: 434px;
    height: 748px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Menu_de_Navigation {
    fill: transparent;
}
.Menu_de_Navigation {
    overflow: visible;
    position: absolute;
    width: 434px;
    height: 748px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Menu {
    position: absolute;
    width: 401px;
    height: 624px;
    left: 17px;
    top: 112px;
    overflow: visible;
}
#Agenda_-_Texte {
    left: 113px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    text-align: center;
    font-family: Krub;
    font-style: normal;
    font-weight: lighter;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
.Agenda_-_Contour_c {
    overflow: visible;
    position: absolute;
    width: 401px;
    height: 72px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Agenda_-_Texte_c {
    left: 56px;
    top: 9px;
    position: absolute;
    overflow: visible;
    width: 241px;
    white-space: nowrap;
    text-align: center;
    font-family: Krub;
    font-style: normal;
    font-weight: lighter;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
#Icon_feather-message-circle {
    fill: rgba(120,19,221,1);
}
.Icon_feather-message-circle {
    overflow: visible;
    position: absolute;
    width: 63.789px;
    height: 63px;
    left: 334.21px;
    top: 6px;
    transform: matrix(1,0,0,1,0,0);
}
#n_2_ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 59px;
    height: 94px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
.Agenda_-_Contour_dd {
    overflow: visible;
    position: absolute;
    width: 401px;
    height: 72px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Agenda_-_Texte_de {
    left: 125px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    text-align: center;
    font-family: Krub;
    font-style: normal;
    font-weight: lighter;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
.Agenda_-_Contour_dg {
    overflow: visible;
    position: absolute;
    width: 401px;
    height: 72px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Agenda_-_Texte_dh {
    left: 113px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    text-align: center;
    font-family: Krub;
    font-style: normal;
    font-weight: lighter;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
#Agenda_-_Contour_dj {
    fill: rgba(255,103,15,1);
}
.Agenda_-_Contour_dj {
    overflow: visible;
    position: absolute;
    width: 401px;
    height: 72px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Agenda_-_Texte_dk {
    left: 94px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 197px;
    white-space: nowrap;
    text-align: center;
    font-family: Krub;
    font-style: normal;
    font-weight: lighter;
    font-size: 45px;
    color: rgba(255,255,255,1);
}
.Agenda_-_Contour_dm {
    overflow: visible;
    position: absolute;
    width: 401px;
    height: 72px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.Agenda_-_Contour_dp {
    overflow: visible;
    position: absolute;
    width: 401px;
    height: 72px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_59_ds {
    fill: rgba(255,0,0,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_59_ds {
    position: absolute;
    overflow: visible;
    width: 52px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#n_ {
    left: 4.5px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 44px;
    height: 47px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Ellipse_59_dy {
    fill: rgba(255,0,0,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_59_dy {
    position: absolute;
    overflow: visible;
    width: 52px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#n__dz {
    left: 4.5px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 44px;
    height: 47px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
#Icon_Signalement {
    fill: rgba(255,255,255,1);
}
.Icon_Signalement {
    overflow: visible;
    position: absolute;
    width: 59.94px;
    height: 66.7px;
    left: 52.868px;
    top: 22.15px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_Recherche {
    fill: rgba(255,255,255,1);
}
.Icon_Recherche {
    overflow: visible;
    position: absolute;
    width: 62.665px;
    height: 66.701px;
    left: 328.047px;
    top: 22.15px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_Accueil {
    fill: rgba(255,255,255,1);
}
.Icon_Accueil {
    overflow: visible;
    position: absolute;
    width: 77.65px;
    height: 66.7px;
    left: 189.095px;
    top: 22.15px;
    transform: matrix(1,0,0,1,0,0);
}
#Groupe_Publication {
    position: absolute;
    width: 1427px;
    height: 161px;
    left: 473px;
    top: 899px;
    overflow: visible;
}
#Publication {
    fill: rgba(90,0,122,1);
}
.Publication {
    position: absolute;
    overflow: visible;
    width: 1427px;
    height: 161px;
    left: 0px;
    top: 0px;
}
#Ellipse_Photo_profil {
    position: absolute;
    width: 124px;
    height: 101px;
    left: 5px;
    top: 4px;
    overflow: visible;
}
#Nous_recherchons_une_UXUI_desi {
    left: 143px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 1108px;
    height: 146px;
    text-align: left;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(247,251,253,1);
}
#Graldine_Duval {
    left: 23px;
    top: 107px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: center;
    font-family: Krub;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Image_UX_UI {
    position: absolute;
    width: 191px;
    height: 114px;
    left: 1217px;
    top: 26px;
    overflow: visible;
}



/* CSS ci-dessous conforme */
.Notification {
    position: absolute;
    width: 52px;
    height: 50px;
    overflow: visible;
}
.Notification-Ellipse {
    fill: rgba(255,0,0,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
#Notification-Nb {
    left: 4.5px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 44px;
    height: 47px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(255,255,255,1);
}
.ElementDuMenu {
    overflow: visible;
    position: relative;
    width: 401px;
    height: 72px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#ElementDuMenu-Texte {
    overflow: visible;
    width: 380px;
    white-space: nowrap;
    text-align: center;
    font-family: Krub;
    font-style: normal;
    font-weight: lighter;
    font-size: 45px;
    color: rgba(255,255,255,1);
    list-style: none;
}
#Affichage_permanent_ {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0,0,0,1);
    overflow: hidden;
}

:root {
    --violet: #7713dd;
    --violetc10:#b06df4;
    --violetc20:#c997fc;
    --violetf10:#3e017c;
    --violetf20:#2f0060;
    --orange:#ff680f;
    --orangec10:#ff9c62;
    --orangec20:#ffb080;
    --orangef10:#953800;
    --orangef20:#712a00;
    --bleu:#290fc6;
    --bleuc10:#4835c0;
    --bleuc20:#6757ca;
    --bleuf10:#200e8e;
    --bleuf20:#17096f;
    --noir:#000000;
    --noirc10:#484848;
    --noirc20:#7f7f7f;
    --blanc:#ffffff;
    --blancf10:#d0d0d0;
    --blancf20:#a2a2a2;
    }
    
    
*{
    font-family: 'krub', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
